:root {
    --header-height: 90px;
}

* {

}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    background-color: darkcyan;
}

header h2 {
    font-size: 2.5rem;
}

header .navbar-list {
    display: flex;
    height: var(--header-height);
    align-items: center;
}

.navbar-list li {
    padding: 0 20px;
}

.navbar-list li a {
    font-size: 1.2rem;
    text-decoration: none;
    color: burlywood;
}