:root {
    --header-height: 90px;
}

body {
    background-color: #c6d7ce;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    background: rgb(186,157,74);
    background: radial-gradient(circle, rgba(186,157,74,1) 0%, rgba(184,62,158,1) 100%);
}

header h2 {
    font-size: 2.5rem;
    color: #edf5e1;
    padding-left: 2%;
    margin-left: 1%;
    letter-spacing: 4px;
    /* border-bottom: 5px solid black; */
    transition: 1.4s;
}

header .navbar-list {
    display: flex;
    height: var(--header-height);
    align-items: center;
}

header:hover h2 {
    letter-spacing: 1rem;
}

.navbar-list li {
    padding: 0 20px;
}

.navbar-list li:hover a {
    color: white;
    border-bottom: 3px solid white;
}

.navbar-list li a {
    font-size: 14px;
    text-decoration: none;
    color: #05386b;
    border-bottom: 2px solid #05386b;
}

/* HERO SECTION */
.hero {
    height: auto;
    width: 100%;
    background-image: url(/Assets/images/pexels-suzy-hazelwood-1629236.jpg);
}