

:root {
    --header-height: 70px;
}

body {
    background-color: #dbdbdb;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    height: var(--header-height);
    background: linear-gradient(90deg, rgba(237,233,215,1) 0%, rgba(144,143,139,1) 34%, rgba(102,101,98,1) 100%);
    box-shadow: rgba(50, 50, 93, 0.25) 0px 30px 60px -12px inset, rgba(0, 0, 0, 0.3) 0px 18px 36px -18px inset;
}

header h2 {
    font-family: "Bruno Ace", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 2.5rem;
    color: #edf5e1;
    padding-left: 2%;
    margin-left: 1%;
    letter-spacing: 4px;
    /* border-bottom: 5px solid black; */
    transition: 1.4s;
}

header .navbar-list {
    display: flex;
    height: var(--header-height);
    align-items: center;
    margin-right: 2%;
}

header:hover h2 {
    letter-spacing: 1rem;
}

.navbar-list li {
    padding: 0 20px;
}

.navbar-list li:hover a {
    color: white;
    border-bottom: 3px solid white;
}

.navbar-list li a {
    font-family: "Bruno Ace", sans-serif;
    font-weight: bold;
    font-style: normal;
    font-size: 1rem;
    text-decoration: none;
    color: #05386b;
    /* border-bottom: 2px solid #05386b; */
}

/* HERO SECTION */
.hero {
    height: 300px;
    width: 100%;
    background-image: url(/Assets/images/3d\ render.jpg);
    background-position-x: left;
    background-size: cover;
}